/* Hello ERIC this is a test */

/*	--------------------------------------------------
	:: Import Google Fonts
	-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	font-family: 'Lato', sans-serif;
}
body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn {
	color: #fff;
}
.btn:hover {
	color: #fff;
}
.clear {
	clear: both;
}
/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
.custom-PlayerHeader {
	background: url(../img/bg-shadow-top.png) bottom repeat-x;
}
/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
}
/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
/*  */
.custom-PlayerLabel {
	color: #fff;
}
/*	--------------------------------------------------
	:: Footer
	-------------------------------------------------- */
/* Set the fixed height of the footer here */
#footer {
	background: url(../img/bg-shadow-footer.png) 0 0 repeat-x;
}
/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -80px;
	/* Pad bottom by footer height */
	padding: 0 0 80px;
}
.custom-ContainerHeight .row, .custom-ContainerHeight .row .col-md-3 {
	/*
	min-height:100%;
	height:100%;
*/
/*	
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
*/
	display: flex;
	flex: 1 1 0;/*
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
*/
}
.custom-ContainerHeight .row {
	margin: 0;
}
.custom-ContainerHeight .col-md-9 {
	padding: 0;
}
.custom-ContainerHeight .custom-MCArea {
	display: none;
	padding: 10px 15px 25px 45px;
}
.jPanelMenu-panel .custom-ContainerHeight .custom-MCArea {
	padding: 0 15px;
}
/*	--------------------------------------------------
	:: Footer
	-------------------------------------------------- */
/* Set the fixed height of the footer here */
#footer {
	height: 70px;
	bottom: 0;
	width: 100%;
	z-index: 10;
	position: fixed;
}
/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
.custom-PlayerHeader {
	/*	margin:0 0 20px 0; */
	padding: 8px 10px 15px 10px;
}
.custom-PlayerHeader h1 {
	margin: 0 inherit 2px inherit;
	padding:0;
}
/*	--------------------------------------------------
	:: Main Menu
	-------------------------------------------------- */
.nav .nav-header {
	background: url(../img/pattern-dottedline.gif) bottom repeat-x;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin: 15px 0 20px 0;
	padding: 0 0 15px 0;
}
.nav-list {
	padding: 0 0 20px;
	margin: 0 0 20px 0;
}
.nav > li {
	position: relative;
	display: block;
}
#menu {
	margin:0;
}
.jPanelMenu h1 {
	font-size: 18px;
}
.jPanelMenu #menu {
	margin-top: 0px;
}
.custom-SideMenu {
	display: none;
}
.custom-SideMenu .nav > li > a {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 18px;
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}
.custom-SideMenu .nav > li > a.active {
	font-weight: 700;
}
.nav > li > a {
	color: #383838;
}
.nav > li.disabled > a {
	color: #999999;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #eeeeee;
	border-color: #428bca;
}
.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.nav > li > a > img {
	max-width: none;
}
/*	--------------------------------------------------
	:: Social Media
	-------------------------------------------------- */
.custom-WebSocialPresence {
	list-style: none;
	padding: 0;
}
.custom-WebSocialPresence li.custom-Header {
	text-transform: uppercase;
	margin: 0 0 15px 0;
	font-weight: 700;
}
.custom-WebSocialPresence li a {
	display: block;
	padding: 12px 0 12px 16px;
	text-transform: uppercase;
}
.custom-WebSocialPresence li a i:hover {
	text-decoration: none;
}
.custom-WebSocialPresence li:last-child a {
	border-bottom: 0;
}
.custom-WebSocialPresence li a i {
	display: inline-block;
	width: 27px;
	height: 16px;
	margin: 0 7px 0 0;
	text-align: center;
}
/*	--------------------------------------------------
	:: Share On 
	-------------------------------------------------- */
.custom-ShareOn {
	margin: 40px 0;
}
.custom-ShareOn .icon-share-alt {
	color: #fff;
	margin: 0 5px 0 0;
	padding: 3px;
}
.custom-ShareOn span {
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	float: left;
	border: 1px solid;
	border-right: 0;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background: url(../img/dottedbg.gif) bottom repeat;
	line-height: 47px;
	padding: 0 8px;
}
.custom-ShareOn ul.socialmenu {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
.custom-ShareOn ul.socialmenu li {
	float: left;
	margin: 0 1px 0 0;
}
.custom-ShareOn ul.socialmenu li a {
	display: inline-block;
	text-align: center;
	width: 50px;
	padding: 10px 0;
	color: #fff;
}
.custom-ShareOn ul.socialmenu li a:hover {
	text-decoration: none;
	background: #9b9b9b;
}
.custom-ShareOn ul.socialmenu li:last-child a {
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
#scheduleTabs {
	height: 31px;
}
#scheduleTabs .topList, #scheduleTabs .dayList {
	height: 31px;
	padding: 0px;
	margin-top: 20px;
}
#scheduleTabs li {
	float: left;
	list-style-type: none;
	list-style-position: outside;
	text-transform: uppercase;
}
#scheduleTabs .dayList li
{
	margin:0 10px 0 0;
}
#scheduleTabs .topList li:first-child
{
	margin-right:2px;
}
.bbgTabButton {
	text-decoration: none;
	padding: 10px 20px;
	width: 200px;
	color: #FFFFFF;
}
.bbgTabButton:hover {
	color: #FFFFFF;
	cursor:default;
	text-decoration:none;
}
.bbgTabButton.inactive {
	background-color: #cccccc;
	color: #999999;
}
.bbgTabButton.inactive:hover
{
	cursor:pointer;
}
.dayList a {
	color: #9b9b9b;
	text-decoration: none;
}
.dayList a:hover, .dayList a.active {
	text-decoration: underline;
}
.dailylineupContent {
	display: none;
}
.dailylineupContent.active {
	display: block;
}
.shdTab {
	display: none;
}
.shdTab.active {
	display: block;
}
.schTimestamp {
	display: inline-block
}
.schTime
{
	margin:0 40px 0 0;
	width:140px;
}
.schName, .shdTitle
{
	font-weight:bold;	
}
.schDesc
{
	
}
.custom-Row
{
	padding:15px 0;
	border-bottom:1px solid #e0e0e0;
}
#allProgramsContent
{
	padding:20px 0 0 0;
}
.schRow1 .shdTitle,
.schRow1 .shdDays,
.schRow1 .shdTimes
{
	display:inline-block;
	margin:0 20px 0 0;
}
.custom-ShareOn ul.socialmenu li a.jp-email-share {
}
.custom-ShareOn ul.socialmenu li a.jp-facebook-share {
}
.custom-ShareOn ul.socialmenu li a.jp-twitter-share {
}
/*	--------------------------------------------------
	:: Audio Outline, Player and Controls
	-------------------------------------------------- */
.custom-LiveStreamStationName {
}
.custom-LiveStreamStationName #btnPlayPause #btnPlay {
	display: inline-block;
 width:;
 height:;
}
.custom-LiveStreamStationName #btnPlayPause #btnPause {
}
.custom-LiveStreamStationName .jp-station {
}
div.jp-audio div.jp-type-single div.jp-interface {
	padding-top: 11px;
}
.jPanelMenu .station-branding {
	display: none;
}
.station-branding {
	max-width: 95px;
	height: 65px;
	margin: 28px 0 0 0;
}
.station-branding img {
	max-height: 80px;
	max-width: 155px;
}
.jp-station {
	text-transform: uppercase;
	max-width: 80%;
	cursor: pointer;
}
.jp-station:hover {
	text-decoration: underline;
}
.jp-volume-bar-value {
	background-color: white;
}
.jp-current-time, .jp-status {
	color: white;
}
/* */
.custom-OpenMenu {
	background: url(../img/bg-mobile-rightpanel.png) right repeat-y !important
}
#jPanelMenu-menu {
	background: url(../img/bg-shadow-sidebar.png) right repeat-y;
}
.nav-list {
	background: url(../img/pattern-dottedline.gif) bottom repeat-x;
}
/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
.custom-ContainerHeight {
	background: url(../img/pattern-dottedline-vert.gif) repeat-y top right;
}
.custom-SidePanel {
	position: fixed;
	right: 0px;
	background: url(../img/bg-shadow-sidebar.png) top left repeat-y;
}
/** Player Controls **/
ul.jp-controls li a {
	color: white;
}
.jp-location {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
}
.jp-call-letters
{
	font-size:16px;
}
.jp-location
{
	font-size:12px;
}
.jp-location .local{
	font-weight:700;
}
.jPanelMenu-panel. {
 height: 100%;
}
.dl-horizontal.custom-StationDetails dt {
	width: 105px;
	text-align: inherit;
}
.dl-horizontal.custom-StationDetails dd {
	margin-left: 105px;
}
/** Audio Player **/
.audio-stream {
	display: none;
	position: relative;
}
/** Player Controls **/

/* PLayer Branding */

.player-branding {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.player-branding a {
	color: black;
}
.player-branding a:before {
	content: 'Live Stream';
}
.player-branding .icon-NowPlayingHeader {
	height: 22px;
	width: 22px;
	display: inline-block;
	margin: 0 10px 0 0;
}
.jp-song {
}
.jp-date {
	display: none;
	margin: 0 0 20px 0;
}
/* */

#jPanelMenu-menu .sidebar-nav {/*
	position:fixed;
	top:0;
	right:0;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;*/
}
#jPanelMenu-menu .nav-header {
	padding-left: 10px;
}
#jPanelMenu-menu .custom-WebSocialPresence {
}
#jPanelMenu-menu .custom-WebSocialPresence li a {
	display: block;
	position: relative;
	color: #888888;
}
#jPanelMenu-menu .custom-WebSocialPresence li a:hover {
	text-decoration: none;
}
#jPanelMenu-menu .custom-WebSocialPresence li.custom-Header {
	padding: 0 0 0 10px;
}
/*	--------------------------------------------------
	:: Note: FAQs
	-------------------------------------------------- */
.custom-FAQs .accordion-toggle {
	text-transform: uppercase;
	display: block;
	padding: 20px 0;
}
.custom-FAQs .custom-Collapsed {
}
.custom-FAQs .custom-Expanded {
}
/*	--------------------------------------------------
	:: Note: FAQs
	-------------------------------------------------- */
.custom-panel {
	border-bottom: 1px solid #e0e0e0;
}
.custom-panel .custom-heading h4 {
	margin: 0
}
.custom-panel .custom-heading .custom-title a {
	display: block;
	padding: 15px 0;
}
.custom-panel .custom-heading .custom-title span {
	font-family: 'Lato', sans-serif;
}
.custom-panel .panel-collapse .custom-body {
	padding: 0 0 20px 0;
}
.custom-panel .accordion-toggle i {
	margin: 0 5px 0 0;
}
#about .custom-Header{
	text-transform: uppercase;
	font-size: larger;
	padding: 0;
}
#about .row{
	margin: 0 0 10px 0;
}
.custom-SectionHeader {
	border-bottom: 1px solid #e0e0e0;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
}
.custom-SectionHeader.backButton {
	display: none;
}
.jPanelMenu-panel .col-md-9 {
	width: 100%;
}
.menu-trigger {
	display: none !important;
}
.jPanelMenu-panel .menu-trigger {
	display: block !important;
}
/* Podcasts */
.bbgPodcastSection {
	padding: 0 0 20px 0;
}
.bbgPodcastSection h3, #podcastDetails h3 {
	font-weight: bold;
	text-transform: uppercase;
}
.bbgPCRow {
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}
bbgPCRow .bbgPCurl {
	cursor: pointer;
}
.bbgPCRow.paused {
}
.bbgPCRow.playing {
}
.bbgPCRow .bbgPCurl {
	float: left;
	padding-left: 15px;
	width: 44px;
}
.bbgPCRow .bbgPCurl a, #podcastDetails .detailPCUrl a, .custom-LiveStreamStationName #btnPlayPause span {
	display: inline-block;
	width: 29px;
	height: 28px;
	text-indent: -300px;
	background: url(../img/iconsprite.png) no-repeat;
	cursor: pointer;
}
.bbgPCRow .bbgPCurl a.podcast-play, #podcastDetails .detailPCUrl a.detailPC-play, .custom-LiveStreamStationName #btnPlayPause span#btnPlay {
	background-position: -108px 0;
}
.bbgPCRow .bbgPCurl a.podcast-pause, #podcastDetails .detailPCUrl a.detailPC-pause, .custom-LiveStreamStationName #btnPlayPause span#btnPause {
	background-position: -162px 0;
}
.bbgPCRow .bbgPCurl a.podcast-resume, #podcastDetails .detailPCUrl a.detailPC-resume {
	background-position: -108px 0;
}
.bbgPCRow.playing .bbgPCurl a.podcast-play {
	background-position: -108px -36px;
}
.bbgPCRow.playing .bbgPCurl a.podcast-pause {
	background-position: -162px -36px;
}
.bbgPCRow.playing .bbgPCurl a.podcast-resumes {
	background-position: -108px -36px;
	;
}
.bbgPCRow .bbgPCContents {
	float: left;
	padding: 0 15px;
}
.bbgPCRow.playing .bbgPCContents {
	color: #fff;
}
.bbgPCRow .bbgPCtitle {
	font-size: 16px;
	font-weight: bold;
	cursor:pointer;
}
.bbgPCRow.playing .bbgPCtitle
{
	color:#fff;
}
.bbgPCRow .bbgPCtitle span {
	display: inline-block;
	margin: 0 5px 0 0;
}
.bbgPCRow .bbgPCtitle span:hover {
	text-decoration: underline !important;
}
.bbgPCRow .bbgDTL i.bbgPodcastInfoDetails {
	display: inline-block;
	height: 22px;
	width: 22px;
	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: -58px -83px;
}
.bbgPCRow.playing .bbgDTL i.bbgPodcastInfoDetails {
	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: -88px -83px;
}
.bbgPCRow .bbgDTL div {
	display: inline-block;
	margin: 0 10px 0 0;
	color: #717171;
}
.bbgPCRow.playing .bbgDTL div {
	color: #fff;
}
.bbgPCRow .bbgDTL div span {
}
.custom-solidline {
	margin-top: 10px;
}
.custom-dottedline {
	background: url(../img/pattern-dottedline.gif) bottom repeat-x;
	padding: 0 0 10px 0;
	margin: 0 0 14px 0;
	height: 1px;
	border: 0;
}
#podcastDetails .bbgDTWrapContent {
	position: relative;
}
#podcastDetails .bbgDTWrapContent .detailPCUrl, #podcastDetails .bbgDTWrapContent .bbgDTWrapContent {
	float: left;
	position: absolute;
}
.custom-LiveStreamStationName h2.jp-station, .custom-LiveStreamStationName #btnPlayPause {
	float: left;
}
#podcastDetails .bbgDTWrapContent .bbgDTWrapContent {
	margin: 0 0 0 39px;
}
.custom-LiveStreamStationName h2.jp-station {
	margin: 0 0 0 15px;
}
#podcastDetails .bbgDTWrapContent .detailPCUrl {
	margin: 4px 10px 0 0;
	width: 29px;
}
#podcastDetails .bbgDTWrapContent .bbgDTWrapContent .bbgPCtitle {
	font-size: 24px;
	margin: 0 0 5px 0;
}
#podcastDetails .bbgDTWrapContent .bbgDTWrapContent .bbgDTL {
	margin: 0 0 20px 0;
}
#podcastDetails .bbgDTWrapContent .bbgDTWrapContent .bbgDTL span {
	margin: 0 10px 0 0;
	color: #717171;
	display: inline-block;
}
.custom-Preloader {
	text-align: center;
	padding: 14px 0 0 0;
}
.custom-SidePanel .custom-Preloader {
	width: 100%;
	padding: 50px 0 0 0;
}
#footer .custom-Preloader i {
	color: #fff;
}
/*	--------------------------------------------------
	:: Note: Design for a Min Width of 768px
	-------------------------------------------------- */
/*
@media (min-width: 768px) {
	.player-branding {
		width: 216px;
		height: 143px;
	}
	.player-branding a {
		background-repeat: no-repeat;
		width: 216px;
		height: 143px;
		text-indent: -9999px;
		overflow: hidden;
		display: block;
	}
	.station-branding {
		background-repeat: no-repeat;
		background-position: 20px 5px;
		width: 36px;
		height: 36px;
}
}
*/
/*	--------------------------------------------------
	:: Note: Overwriting Bootstrap styles
	-------------------------------------------------- */
