body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.jPanelMenu-panel {
	height: 100%;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0;
	margin-left: 0;
}

/** Sticky Footer Code **/
#main {
	padding: 70px 0 0 20px;
}

#main.expanded {
	padding-top: 0;	
}

#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 90px;
}  /* must be same height as the footer */

footer {
	position: fixed;
	bottom: 0;
	margin-top: -90px; /* negative value of footer height */
	height: 90px;
	width: 100%;
	clear:both;
	z-index: 1;
}

#content {
	overflow-y: scroll;
}

footer.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

footer .navbar {
	margin-bottom: 5px;
	padding-right: 20px;
}

footer .navbar-inner {
	background-image: none;
	background-color: inherit;
	border: none;
	padding-right: 0;
	box-shadow: none;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/** -- End Sticky Footer **/

/** Social Media Menu ***/
.audio-stream,
#socialbutton {
	clear: right;
}

#socialmini .btn-navbar {
	color: #333;
	text-shadow: none;
}

/** Audio Player **/
.audio-stream {
	position: relative;
}
/** Player Controls **/
  ul.jp-controls {
	list-style-type: none;
	overflow: hidden;
	margin: 1px;
	padding: 0;
	display: block;
	float: left;
}
	ul.jp-controls li {
		float: left;
		display: block;
		margin-top: .25em;
		text-align: center;
	}
		ul.jp-controls li a {
			display: block;
			width: 3em;
			height: 3em;
		   	border: 0 !important;
		   	color: black;
		   	text-decoration: none;
	   }
	ul.jp-controls li.volume {
		position: absolute;
		height: 46px;
		line-height: 46px;
		right: 4.4em;
	}
		   
/** Status Messages **/
.jp-status {
	display: block;
	width: 100%;
	height: 46px;
	line-height: 46px;
	margin-left: 3em;
	border-left: 1px solid;
	padding-left: 4em;
}
.jp-status-connecting:after {
	content: 'Connecting';
}
.jp-status-streaming:after {
	content: 'Streaming';
}
.jp-status-paused:after,
.jp-status-ended:after,
.jp-status-not-started:after {
	content: 'Listen';
}

.jp-current-time {
	position: absolute;
	left: 3.5em;
	top: 0;
	margin: 0;
	line-height: 46px;
	height: 46px;
}

.jp-volume-bar {
	position: absolute;
	right: 1em;
	height: 10px;
	top: 17px;
	width: 3.5em;
	background-color: gray;
}

.jp-volume-bar-value {
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	height: 100%;
}

/** player outline **/
.jp-status {
	border-left: 1px solid;
}
.audio-stream {
	border: 1px solid;
}

/** branding **/
.player-branding a:before {
	content: 'Now Playing';
	font-size: 1.8em;
	font-weight: bold;
}

@media (min-width: 768px) {
	.player-branding {
		width: 216px;
		height: 143px;
	}
	.player-branding a {
		background-image: url('../images/Egypt.jpg');
		background-repeat: no-repeat;
		width: 216px;
		height: 143px;
		text-indent: -9999px;
		overflow: hidden;
		display: block;
	}
	.station-branding {
		background-image: url('../images/egypt_flag.png');
		background-repeat: no-repeat;
		background-position: 20px 5px;
		width: 36px;
		height: 36px;
	}
}
