/* CORE STYLES */
/* We recommend you don't edit these. */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.25;
	background: #FFFFFF;
	overflow: hidden;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

p {
	margin: 0;
	padding: 0 0 5px 0;
}

#container {
	width: 380px;
	height: 665px;
	margin: 0 auto;
	background-repeat: repeat-x;
	border: 1px solid #535353;
}

.bbg-player-branding a {
	display: block;
	padding: 10px;
}

#content_container {
	padding: 0 20px;
}

.jp-onair {
	height: 180px;
	border-bottom: 1px solid #535353;
	padding: 5px;
}

.jp-onair a { color: white !important; text-decoration: underline !important; }
.jp-onair a:hover { text-decoration: none !important; }

.onairnow {
	font-size: 18px;
}

.jp-social {
	padding: 0;
	margin: 10px 0 0 5px;
	width: 100%;
	overflow: auto
}
.jp-social:first-child {
	margin-left: 10px;
}

.jp-social a.jp-email-share {
	background-image: url('../images/icon-email.png');
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	margin-top: -7px;
	cursor: pointer;
}
.jp-social a.jp-share {
	background-image: url('../images/icon-share.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	margin: -2px 5px 0 0;
}
.jp-share-panel {
	padding: 5px;
}
.jp-share-panel textarea {
	width: 350px;
	height: 60px
}
.jp-poster {
	border-top: 1px solid #535353;
}
#footer {
	text-align: center;
	padding: 10px 5px;
}