.jp-audio-stream {
	width: 313px;
	height: 184px;
	background-color: black;
}
ul.jp-streams {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  
ul.jp-streams li {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 1px;
    margin-bottom: 1px;
    line-height: 0;
}
ul.jp-streams li a {
	cursor: pointer;
}
ul.jp-streams li a.titleImage {
	display:block;
	width: 36px;
	height: 36px;
 }
.jp-stream-list br {
   clear: left;
} 
.jp-stream-list {
  float: left;
  width: 74px;
  margin: 0px;
  padding: 0px;
}
.jp-poster {
  margin-left:  74px;
  width: 236px;
  height: 148px;
}
.jp-poster img {
	margin-left: 1px;
	margin-top: 3px;
}
.jp-loading {
	background-image: url('../images/loading.gif');
	position: absolute;
	background-repeat: no-repeat;
	width: 236px;
	height: 148px;
	top: 30px;
	left: 154px;
	display: none;
}

.jp-control-container {
	clear: both;
	background-color: #302827;
}
.top, .jp-control-container {
	margin: 0px;
	padding: 0px;
	border: 0px;
	line-height: 0px;
	position: relative;
}
ul.jp-controls {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul.jp-controls li {
	display: inline;
	float: left;
}
ul.jp-controls li a {
	display: block;
	overflow: hidden;
	text-indent: 9999px;
}
.jp-current-time {
	position: absolute;
	left: 200px;
	top: 18px;
	width: 36px;
	height: 36px;
	color: #6c6c6c;
}
.jp-play {
	width: 36px;
	height: 36px;
	display: block;
	background-image: url('../images/play.jpg');
}
.jp-pause {
	width: 36px;
	height: 36px;
	display: block;
	background-image: url('../images/pause.jpg'); 
}
.jp-mute, .jp-unmute {
	margin-left: 205px;
	margin-top: 6px;
}
.jp-mute {
	width: 24px;
	height: 24px;
	display: block;
	background-image: url('../images/unmuted.png');
}
.jp-unmute {
	width: 24px;
	height: 24px;
	display:block;
	background-image: url('../images/muted.png');
}
div.jp-progress {
	position: absolute;
	top: 170px;
	left: 55px;
	overflow: hidden;
	background-color: #6c6c6c;
	width: 140px;
	height: 8px;
	border: .5px solid black;
}
div.jp-seek-bar {
	height: 100%;
	cursor: pointer;
	width: 0px;
	background-image: url('../images/progressbar.png');
}
div.jp-volume-bar {
	position: absolute;
	top: 12px;
	left: 270px;
	width: 34px;
	height: 10px;
	padding: 0;
	border: 0;
	margin: 0;
	background-image: url('../images/volume-bar.png');
	cursor: pointer;
}
div.jp-volume-bar-value {
	height: 10px;
	width: 0px;
	background-image: url('../images/volume-bar_value.png');
}