/* Main text colour */
body { color: #535353; }

/* Link colour */
a { color: #C31F47; }

/* Background colour of the player*/
#container {
	/* A solid colour for when the gradient isn't compatible. */
	background-color: #333333;
	/* The first hex code is at the top and the second is at the bottom. Applies to all below. */
	background-image: -moz-linear-gradient(top, #333333, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #333333, #f2f2f2);
	background-image: -o-linear-gradient(top, #333333, #f2f2f2);
	background-image: linear-gradient(to bottom, #333333, #f2f2f2);
}

/* Text colour in the On Air box */
.jp-onair { color: #FFF; }

/* Background for Branding */
.bbg-player-branding {
	background-image: url('http://placehold.it/310x55');
	background-repeat: no-repeat;
	height: 55px;
	background-position: center;
	padding: 10px;
}