body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.jPanelMenu-panel {
	height: 100%;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0;
	margin-left: 0;
}

/** Sticky Footer Code **/
#main {
	padding: 50px 20px 0 20px;
}

#main.expanded {
	padding-top: 0;	
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 95px;}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -95px; /* negative value of footer height */
	height: 95px;
	clear:both;
}

footer.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

footer .navbar {
	margin-bottom: 5px;
	padding-right: 20px;
}

footer .navbar-inner {
	background-image: none;
	background-color: inherit;
	border: none;
	padding-right: 0;
	box-shadow: none;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/** -- End Sticky Footer **/

/** Social Media Menu ***/
.audio-stream,
#socialbutton {
	clear: right;
}

#socialmini .btn-navbar {
	color: #333;
	text-shadow: none;
}

/** Audio Player **/
/** Player Controls **/
  ul.jp-controls {
	list-style-type: none;
	overflow: hidden;
	margin: 1px;
	padding: 0;
	display: block;
	float: left;
}
	ul.jp-controls li {
		float: left;
		display: block;
		margin-top: .25em;
	}
		ul.jp-controls li a {
			display: block;
			overflow: hidden;
			text-indent: 9999px;
			width: 36px;
			height: 36px;
			
		}
	   ul.jp-controls li a {
	   	background-repeat: no-repeat;
	   	background-position: center center;
	   	text-indent: -9999px;
	   	overflow: hidden;
	   	border: 0 !important;
	   }
		   a.jp-play {
		   	background-image: url('../images/play.png');
		   }
		   a.jp-pause {
		   	background-image: url('../images/stop.png');
		   }
		   
/** Status Messages **/
.jp-status {
	display: block;
	width: 100%;
	height: 46px;
	line-height: 46px;
	margin-left: 3em;
	border-left: 1px solid;
	padding-left: 1em;
}
.jp-status-connecting:after {
	content:	'Connecting';
}
.jp-status-streaming:after {
	content: 'Streaming';
}
.jp-status-paused:after,
.jp-status-ended:after,
.jp-status-not-started:after {
	content: 'Listen';
}

/** player outline **/
.jp-status {
	border-left: 1px solid;
}
.audio-stream {
	border: 1px solid;
}
